body {
    font-family: Arial;
    margin: 20px;
    background-color: #d14836;
}
h1 {
    display: block;
    font-size: 60px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
div {
    display: block;
}
header {
    margin: 4px;
    color: white;
}
header p {
    font-size: 30px;
}
#principal a {
    user-select: none;
    text-decoration: none;
    color: #d14836;
}
a:hover {
    text-decoration: underline;
}
p {
    margin: 0;
    padding: 0;
}
#menu {
    padding: 0;
    font: 16px verdana;
    width: 190px;
    float: right;
}
#elements_menu {
    width: 155px;
    border-radius: 40px;
    color: white;
    list-style-type: none;
    margin: 10px;
    padding: 1px;
    text-align: center;
    cursor: pointer;
}

.elements {
    width: 155px;
    background-color: #d14836;
    border: 1px solid #d14836;
    border-radius: 40px;
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
.elements:hover {
    color: #d14836;
    background-color: white;
    
}
.elements a {
    text-decoration: none;
}

.elements:nth-child(2) {
    background-color: white;
    color: #d14836;
    font-weight: bold;
}

#principal h2 {
    color: #d14836;
    font-size: 26px;
}
#principal {
    padding: 10px;
    background-color: #ffffff;
    font: 80% Verdana;
}
#barra_x {
    background-color: #F6DAD7;
    color: #d14836;
    padding: 10px;
}
footer {
    text-align: center;
    padding: 10px;
    font-size: 70%;
    color: #ffffff;
}